.jumbotron {
    background-color: orangered;
    color: black;
    align-items: center;
    margin-top: 55px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: orangered;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-tienda {
    flex: 1 250px;
    margin-top: 10px;
}

.btn-informacion {
    width: 100%;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}