.jumbotron {
  background-color: #a14710;
  color: #050300;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #a14710;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-tienda {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-informacion {
  width: 100%;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.tab-content {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
