@orange: #a14710;
@black_light: #050300;

.margenes(@top:0, @bottom:0) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.padding(@top:0, @right:0, @bottom:0, @left:0) {
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.jumbotron {
  background-color: @orange;
  color: @black_light;
  align-items: center;
  .margenes(50px, 0px);
}

footer {
  .padding(10px, 10px, 0px, 10px);
  background-color: @orange;
  .margenes(10px, 0px);
}

.card-tienda {
  flex: 1 250px;
  .margenes(10px, 0px);
}

.btn-informacion {
  width: 100%;
}

.footer-address-icon {
  .padding(0px, 15px, 0px, 0px);
}

.tab-content {
  .padding(15px, 0px, 0px, 0px);
}
