$orange: #a14710;
$black_light: #050300;
$green:#4fc45e;
$red:#f53514;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $orange;
    color: $black_light;
    align-items: center;
    @include margenes(50px, 0px);
}

footer {
    @include padding(10px, 10px, 0px, 10px);
    background-color: $orange;
    @include margenes(10px, 0px);
}

.card-tienda {
    flex: 1 250px;
    @include margenes(10px, 0px);
}

.btn-informacion {
    width: 100%;
}

.footer-address-icon {
    @include padding(0px, 15px, 0px, 0px);
}

.tab-content {
    @include padding(15px, 0px, 0px, 0px);
}